.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: var(--spacing-lg);
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--spacing-md);
    width: 50%;
    
  }
  
  .delete-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 500px;
    gap: var(--spacing-md);
  }
  
  .content hr {
    width: 80%;
    border: var(--border-width) solid var(--color-black);
    margin: var(--spacing-sm) 0;
  }
  
  .delete-button{
    background-color: var(--color-red);
    width: 100%;
  }

  .delete-link{
    width: 65%;
  }

  .delete-button:hover{
    background-color: var(--color-red-tertiary);
  }

  .delete-button:focus{
    background-color: var(--color-red-secondary);
  }