@import '../../index.css';

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-md);
}

.input-label {
  font-family: var(--font-family-label);
  font-size: var(--font-size-label);
  margin-bottom: var(--spacing-sm);
  color: var(--color-text);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.input-field {
  width: var(--input-width);
  height: var(--input-height);
  padding-left: var(--spacing-sm);
  border: var(--border-width) solid var(--color-black);
  border-radius: var(--border-radius);
  font-size: var(--font-size-regular);
  color: var(--color-text);
  background-color: var(--color-background);
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-ease);
}

.input-field::placeholder {
  color: var(--color-placeholder);
}

.input-field:focus {
  border-color: var(--color-primary);
}

.input-container.error .input-field {
  border-color: var(--color-error);
}

.input-error {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--color-error);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xs);
}

.icon-container {
  position: absolute;
  right: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}
