.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-label {
  font-size: 14px;
  margin-bottom: 8px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  flex: 1;
  padding: 8px;
  padding-right: 32px; /* Ajoute de l'espace pour l'icône */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.input-field:focus {
  border-color: #2655FB;
}

.input-container.error .input-field {
  border-color: red;
}

.input-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.icon-container {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
