.button {
    font-size: var(--font-size-regular);
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-ease);
    width: var(--width-input);
    height: var(--button-height);
  }
  
  .button:hover {
    background-color: var(--color-tertiary);
  }
  
  .button:active {
    background-color: var(--color-primary);
  }
  
  .button:disabled {
    background-color: var(--color-placeholder);
    cursor: not-allowed;
    opacity: 0.7;
  }
  