.container{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    overflow: hidden;
}
.imageDiv{
    width: 50%;
    height: 100%;
}

.imageDiv img{
    height: 100%;
    width: 100%;
}


.containerForm{
    width: 50%;
}