.switch-container {
    position: absolute;
    bottom: 20px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espacement entre le label et le switch */
    background-color: var(--color-red-secondary);
    width: 10%;
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
  }
  
  .switch-label {
    font-size: var(--font-size-regular);
    color: var(--color-text);
    color: var(--color-white);
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    display: none; /* Cache l'input par défaut */
  }
  
  .switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-placeholder); /* Couleur du fond désactivé */
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  
  .switch .slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
  
  .switch input:checked + .slider {
    background-color: var(--color-success);
  }
  
  .switch input:checked + .slider::before {
    transform: translateX(20px);
  }
  
  /* Tailles du switch */
  .switch.small {
    width: 30px;
    height: 15px;
  }
  
  .switch.small .slider::before {
    height: 10px;
    width: 10px;
    transform: translateX(15px);
  }
  
  .switch.large {
    width: 60px;
    height: 30px;
  }
  
  .switch.large .slider::before {
    height: 22px;
    width: 22px;
    transform: translateX(30px);
  }
  