.container{
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.imageDiv{
  width: 50%;
}

.imageDiv img{
  width: 100%;
}


.containerForm{
  width: 50%;
}

@media (max-width: 769px) {
  .container{
      justify-content: center;
      align-items: center;
  }
  .imageDiv{
      display: none;
  }
}