@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap');


:root {
    /* Colors */
    --color-primary: #2655FB;
    --color-secondary: #3754be;
    --color-tertiary: #4D6CDE;
    --color-error: #ff0000;
    --color-text: #202020;
    --color-black: #000000;
    --color-placeholder: #aaa;
    --color-background: #ffffff;
    --color-white: #ffffff;


      /* Font Families */
    --font-family-label: 'Autour One', sans-serif;
    --font-family-title: 'Autour One', sans-serif;
    --font-family-body: 'Single Day', sans-serif;
    --font-family-subtitle: 'Autour One', sans-serif;


    /* Font Sizes */
    --font-size-small: 0.75rem;
    --font-size-regular: 0.875rem;
    --font-size-large: 1rem;
    --font-size-label: 1rem;
    --font-size-title: 3rem;
    --font-size-body: 1.25rem;
    --font-size-subtitle: 2rem;
    --font-size-body-large: 1.5rem;
  
    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
  
    /* Borders and Radius */
    --border-radius: 0.25rem;
    --border-width: 1px;
  
    /* Transitions */
    --transition-duration: 0.2s;
    --transition-ease: ease-in-out;

    /* Form */
    --input-width: 100%;
    --button-height: 3rem;
    --input-height: 3rem;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-body)
  }
  